<div class="d-flex justify-content-center">
<div class="card my-2 " style="width: 25rem;">
  <a [routerLink]="['/details', product.id]" class="text-decoration-none text-dark">
    <img src="{{product.image}}" class="card-img-top mx-auto d-block" alt="product image" height="300px" >
    <div class="card-body text-start">
      <h5 class="card-title">{{ product.name }}</h5>
      <p class="card-text">{{ product.description | slice:0:25 }}...</p>
      <p class="card-text font-weight-bold">{{ product.price }} €</p>
    </div>
  </a>
</div>
</div>