<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="#">TechShop</a>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 align-items-center">
        <li class="nav-item me-3">
          <a class="nav-link position-relative" [routerLink]="'/basket'">
            <i
              class="bi bi-basket2-fill"
              style="font-size: 1.5rem; color: rgb(251, 231, 82)"
            ></i>
            <span
              class="position-absolute start-100 translate-middle badge rounded-pill bg-warning text-dark"
            >
              {{ totalItemInBasket() }}
            </span>
          </a>
        </li>

        <li class="nav-item me-3" *ngIf="!isLoggedIn()">
          <a class="nav-link" [routerLink]="'/auth/signin'">Sign in</a>
        </li>
        <li class="nav-item me-3" *ngIf="isLoggedIn()">
          <a class="nav-link" (click)="onLogout()">Log out</a>
        </li>
        <li class="nav-item me-3" *ngIf="isLoggedIn()">
          <a class="nav-link" [routerLink]="'/account'">My account</a>
        </li>

        <li class="nav-item dropdown me-3">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Categories
          </a>
          <ul class="dropdown-menu">
            <li>
              <a class="dropdown-item" [routerLink]="['/category', 'laptop']"
                >Laptop</a
              >
            </li>
            <li>
              <a class="dropdown-item" [routerLink]="['/category', 'mice']"
                >Mice</a
              >
            </li>
            <li>
              <a class="dropdown-item" [routerLink]="['/category', 'keyboard']"
                >Keyboard</a
              >
            </li>
            <li>
              <a class="dropdown-item" [routerLink]="['/category', 'monitor']"
                >Monitor</a
              >
            </li>
            <li>
              <a class="dropdown-item" [routerLink]="['/category', 'accessory']"
                >Accessory</a
              >
            </li>
          </ul>
        </li>
      </ul>

      <div class="d-flex ms-auto" role="search">
        <input
          class="form-control me-2"
          type="search"
          placeholder="Search"
          aria-label="Search"
          [(ngModel)]="searchText"
        />

        <ng-content *ngIf="searchText">
          <div class="product-search-result position-absolute">
            <ul class="list-unstyled text-center">
              <li
                class="border py-2"
                *ngFor="let product of productList | searchpipe : searchText"
              >
                <a
                  class="text-decoration-none text-dark"
                  (click)="onProductSelected(product.id)"
                  >{{ product.name }}</a
                >
              </li>
            </ul>
          </div>
        </ng-content>
      </div>
    </div>
  </div>
</nav>
