<ng-content *ngIf="basketItemList().length; else noItemYet">
<div class="card p-4 shadow-sm">
  <h2 class="mb-3 text-center">Total</h2>

  <div class="my-3 text-start">
    <p class="fw-bold d-flex justify-content-between">
      <span>Sub-total:</span>
      <span>{{subTotal()}} €</span>
    </p>
    <p class="fw-bold d-flex justify-content-between">
      <span>Delivery:</span>
      <ng-content *ngIf="deliveryFees() != 0; else freeMsg">
        <span>{{deliveryFees()}} €</span>
      </ng-content>
      <ng-template #freeMsg>
        <span>Free</span>
    </ng-template>
    </p>
    <p class="fw-bold d-flex justify-content-between">
      <span>Tax:</span>
      <span>{{tax()}} €</span>
    </p>
    <hr />
    <p class="fw-bold d-flex justify-content-between fs-5">
      <span>Total:</span>
      <span>{{totalPrice()}} €</span>
    </p>
  </div>

  <button class="btn btn-success w-100 mt-3">CHECKOUT</button>
</div>
</ng-content>

<ng-template #noItemYet> <!--show nothing if there is no items in basket yet-->
</ng-template>