<div class="container my-3">

  <h1>{{pageTitle}}</h1>

<ng-container *ngIf="allProducts$ | async as productList ; else errorPrinter">
  <div class="row">
    <app-product-card
      *ngFor="let product of productList"
      [product]="product"
      class="col-lg-4 col-md-6 col-sm-12 my-3"
    ></app-product-card>
  </div>
</ng-container>

<ng-template #errorPrinter>
  <div class="alert alert-danger my-4 text-center" role="alert">
  <p>{{errorMessage}}</p>
  </div>
</ng-template>

</div>
