<div class="card-body">
  <div class="table-responsive">
    <table class="table table-sm">
      <thead>
        <tr class="table-success">
          <th scope="col">product</th>
          <th scope="col">quantity</th>
          <th scope="col">unit price</th>
          <th scope="col">extended price</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let orderline of order.orderLineResponseDtoList">
          <th scope="row">{{ orderline.productName }}</th>
          <td>{{ orderline.quantity }}</td>
          <td>{{ orderline.productUnitPrice }}€</td>
          <td>{{ orderline.quantity * orderline.productUnitPrice }}€</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="table-responsive mt-5">
    <table class="table">
      <thead>
        <tr class="table-success">
          <th scope="col">customer details</th>
          <th scope="col">amount summary</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <p><strong>Send to:</strong></p>
            <p>{{ customer()?.firstName }} - {{ customer()?.lastName }}</p>
            <p>email: {{ customer()?.email }}</p>
          </td>
          <td class="text-start">
            <p>
              <strong>sub total:</strong>
              {{ order.totalAmount - (order.taxAmount + order.deliveryPrice) }}€
            </p>
            <p><strong>tax:</strong> {{ order.taxAmount }}€</p>
            <p><strong>delivery price:</strong> {{ order.deliveryPrice }}€</p>
            <p><strong>total:</strong> {{ order.totalAmount }}€</p>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
