<app-navbar></app-navbar>

<div class="advert container my-5">
    <div class="banner text-center p-5 rounded shadow-sm position-relative">
      <div class="banner-overlay position-absolute top-50 start-50 translate-middle p-3 fs-4 fw-bold">
        <p class="m-0 d-none d-sm-block">Get free shipping on orders over €35!</p>
        <p class="m-0 d-sm-none fs-6">Free shipping over €35!</p>
      </div>
    </div>
  </div>
  

<app-product-list [dataToDisplay]="'allProducts'"></app-product-list>
<app-footer></app-footer>